.page {
    height: 100vh;
    position: relative;

    &.sidebar-active {
        .sidebar {
            width: 250px;
            visibility: visible;
        }

        @media (min-width: 1400px) {
            .content-page {
                padding-left: 250px;
            }
        }
    }
}

.sidebar-overlay {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 12;
    background-color: rgb(59, 91, 57);
}

.sidebar {
    visibility: hidden;
    width: 0px;
    z-index: 6;
}

.color-main {
    color: #00ff48;

    &.link {
        &:hover {
            color: #5e00ff;
        }
    }
}

.color-second{
    color: #5e00ff;
}

.menu-button{
    font-size: 20px;
    background-color: unset !important;
}

.menu-button:hover{
    cursor: pointer;
    color: #00ff48;
    background-color: #5e00ff !important;
    box-shadow: 1px 10px 10px #282c34;
}
.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background-color: rgba(247, 247, 247, 0.05) !important;
}
.hovered-row:hover {
    cursor: pointer;
}

.main-button{
    font-size: 20px;
    color: #000000 !important;
    background-color: #00ff48 !important;
}

.main-button:hover{
    cursor: pointer;
    color: #00ff48 !important;
    background-color: #5e00ff !important;
    box-shadow: 1px 10px 10px #282c34;
}

.delete-button{
    font-size: 20px;
    color: #000000 !important;
    background-color: #e31d1d !important;
}

.delete-button:hover{
    cursor: pointer;
    color: #000000 !important;
    background-color: #e31d1d !important;
    box-shadow: 1px 10px 10px #282c34;
}

.icon-button{
    color: #000000 !important;
    background-color: #6fb061 !important;
}

.icon-button:hover{
    cursor: pointer;
    color: #000000 !important;
    background-color: #6fb061 !important;
    box-shadow: 1px 10px 10px #282c34;
}

.hotel-info-image {
    height: 70vh;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 75, 75);
    border: 10px solid;
    object-fit:scale-down;
    width: 100%;
    padding-top: 4rem;
}

.hotel-listing-image {
    height: 15vh;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    object-fit:scale-down;
    background-color: rgb(12, 75, 75);
    width: 100%;
}

.scrollable-accordion {
    max-height: 82vh;
    overflow-y: auto;
}

.scrollable-accordion::-webkit-scrollbar {
    display: none;
}

.caption{
    background-color: rgb(12, 75, 75);
    opacity: 0.8;
    margin-bottom: 0;
    bottom:10px;
    padding-bottom:35px;
}

.custom-file-upload {
    position: relative;
    width: 240px;
    padding: 10px;
    text-align: center;
    color: #00ff48;
    background-color: rgb(12, 75, 75);
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    border: 2px solid #5e00ff;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    color: #5e00ff;
    background-color: #00ff48;
    transition: 1s;
}

input[type="file"]::file-selector-button:hover {
    background-color: #5e00ff;
    border: 2px solid #00ff48;
    color: #00ff48;
    cursor: pointer;
}

.box{
    background-color: #fff;
    border: #00ff48 solid 5px;
    box-shadow: 5px 10px 10px #5e00ff;
}

.google-maps{
    height: 88vh;
    background-color: #fff;
    border: #00ff48 solid 5px;
    box-shadow: 5px 10px 10px #5e00ff;
}

.w-10{
 width: 10%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-45{
    width: 45%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-80{
    width: 80%;
}

.w-90{
    width: 90%;
}

@media (max-height: 800px) {
    .scrollable-accordion {
        max-height: 77vh !important;
    }
    .google-maps{
        height: 85vh !important;
    }
}